.cores-site {
    background-color: #000000;
    background-color: #0C2950;
    background-color: #F6F4F1;
    background-color: #7858A6; 
    background-color: #A7FF83;
    background-color: #086972;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  /*corpo da página*/
  body {
    height: 100% 100%;
    overflow: scroll;
    background-image: radial-gradient(circle, #071d58, #000000);
  }
  
  /*background com setas fundo da body*/
  .network-background-canvas {
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
  }
  
  /*menu*/
  header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    background-image: linear-gradient(90deg, #000000, #3d0061, #001279);
    color: rgb(255, 255, 255);
    padding: 20px 0;
  }
  
  /*titulo menu/ logo menu*/
  header h2 {
    color: rgb(255, 255, 255);
  }
  
  /*links internos menu*/
  header nav a{
    color: white;
    margin-right: 30px;
    font-weight: 500;
  }
  
  /*hover links*/
  header nav a:hover {
    color: #00ffdd;
  }
  
  /*botão entrar/menu*/
  header div.sign-in-up button{
    background-color: #1900ff;
    font-size: 16px;
    font-weight: 550;
    padding: 4px 12px;
    border: 2px;
    border-radius: 5px;
    outline: none;
    margin-left: 20px;
    color: #fff;
  }
  
  /*icone de logout/login menu*/
    ion-icon {
    color: #ffffff;
    --ionicon-stroke-width : 45px ;
  }

  /*hover botão login/registro*/
  header div.sign-in-up button:hover {
    background-color: #01003f;
    color: #ffffff;
  }
  
  header div.sign-in-up button:last-child:hover {
    background-color: #01003f;
  }
  
  /*botão registrar-se/menu*/
  header div.sign-in-up button:last-child{
    background-color: #1900ff;
  }
  
  /*sombra ao abrir registro*/
  div.popup-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.479); /*coloração da cor de fundo login/registro*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: none;
  }
  
  /*container box login*/
  div.popup-container div.popup{
    background-color: #5900ff;
    width: 350px;
    border-radius: 5px;
    padding: 20px 25px 30px 25px;
  }
  
  /*button fechar box do login*/
  div.popup-container div.popup h2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    color: #fff;
  }
  
  /*button fechar box de registro*/
  div.popup-container div.popup h2 button{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 18px;
    font-weight: 550;
    color: #000000;
  }
  
  /*barra do input color de login*/
  div.popup-container div.popup input{
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #00ffdd;
    border-radius: 0;
    padding: 5px 0;
    font-weight: 550;
    font-size: 14px;
    outline: none;
  }
  
  /*botão de redirecionamento (entrar)*/
  div.popup-container div.popup button.login-btn,div.popup-container div.register button.register-btn, div.popup-container  div.forgot button.reset-btn {
    font-weight: 550;
    font-style: 15px;
    color: white;
    background-color: #3700ff;
    padding: 4px 10px;
    border-radius: 7px;
    border: none;
    outline: none;
    margin-top: 5px;
  }
  
  div.popup-container div.popup div.forgot-btn {
    text-align: right;
  }
  
  /*estilo de reset password (esqueceu a senha?)*/
  div.popup-container div.popup div.forgot-btn button {
    border: none;
    background-color: transparent;
    outline: none;
    font-weight: 450;
    cursor: pointer;
    color: #fff;
  }
  
  /*container box registro*/
  div.popup-container div.register{
    background-color: #6200ff;
  }
  
  /*button fechar box de registro*/
  div.popup-container div.register h2, div.popup-container div.forgot h2{
    color: #fff;
  }
  
  /*barra do input color de registro*/
  div.popup-container div.register input, div.popup-container div.forgot input{
    border-bottom-color: #00ffff;
  }
  
  /*botão de redirecionamento (criar)*/
  div.popup-container div.register button.register-btn, div.popup-container div.forgot button.reset-btn{
    background-color: #0004ff;
  }
  
  /*botão de usuário logado*/
  div.user{
    color: #ffffff;
    background-color: #001f83;
    padding: 5px 15px;
    border-radius: 14px;
    font-weight: 500;
  }
  
  /*link para usuário deslogar*/
  div.user a{
    color: #ffffff;
  }
  
  /*SCROLLBAR PERSONALIZADA DO SITE*/
  ::-webkit-scrollbar {
    width: 13px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(#9442ff, #2d6fff);
    border-radius: 18px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #4400ff;
  }
  
  /*svg no inicio da pagina*/
  svg {
    width: 30vw;
    display: block;
    margin: 0 auto;
  }
  
  /*conjunto list objects svg*/
  #checklist {
    animation-name: shake;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    transform: translateY(-5px);
  }
  
  /*frames de movimentação da svg parte inicial*/
  #nine {
    animation-name: shake;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    transform: translateY(-5px);
  }
  
  @keyframes shake{
    0% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(5px);
    }
    0% {
      transform: translateY(-5px);
    }
  }
  
  /*svg alterar/mover*/
  .imagen svg {
    margin-right: 140px;
    margin-top: 100px;
  }
  
  /*leading inicio da pagina*/
  .leading {
    max-width: 100%;
  }
  
  /*titulo do site*/
  .leading h1 {
    color: #fff;
    margin-top: -350px;
    padding-left: 55px;
  }
  
  /*sobre/titulo do site*/
  .leading p {
    color: #fff;
    padding-left: 95px;
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 600;
    max-width: 600px;
    margin-top: 200px;
    position: absolute;
  }
  
  .inicio-menu {
    max-width: 50%;
    margin-left: 30px;
    margin-top: 20px;
  }
  
/*imagem onda tela inicial*/
  .onda img {
    width: 100%;
    margin-top: -110px;
    height: 700px;
  }
  
/*coluna sobre as especificações*/
  .especificacao {
    max-width: 100%;
    height: 750px;
    background-color: #071463;
    margin-top: -55px;
  }

/*explicação sobre cards*/
  .especificacao p {
    color: #fff;
    max-width: 50%;
    text-align: center;
    margin-left: 310px;
  }
  
/*box-card sobre especificações*/
  .card {
    background-color: #00c3ff;
    margin: 50px;
    border-radius: 50px;
    padding-bottom: 20px;
    margin-top: 120px;
  }
  
/*cards*/
  main.cards {
    display: flex;
    padding: 32px;
    padding-left: 100px;
    padding-right: 50px;
  }
  
/*estilo cards*/
  main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #ffffff;
    padding: 1rem 1.5rem;
    border-radius: 14px;
    max-height: 468px;
    margin-left: 32px;
    color: rgb(0, 0, 0);
  }

/*centralizar*/  
  main.cards section.card:first-child {
    margin-left: 0;
  }
  
/*icone*/  
  main.cards section.card .icon {
    width: 64px;
    height: 64px;
  }
  
/*valor IMG*/  
  main.cards section.card img {
    width: 100%;
    margin-top: 10px;
  }
  
/*subtitulo*/  
  main.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
  }

/*informcação sobre o card*/  
  main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
  }

/*responsivo mobile cards*/  
  @media screen and (max-width: 720px) {
    main.cards {
        flex-direction: column;
        padding-left: 70px;
        padding-right: 70px;
    }
  
    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }
  
    main.cards section.card:last-child {
        margin-bottom: 0;
    }
  }





  

/**/
  .intro2 .onda2 {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    transform: rotate(180deg);
    margin-top: -5px;
  }

  .intro2 .onda2copia {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-top: -250px;
  }







  
  .intro2 svg {
    margin-right: 30px;
    margin-top: -340px;
  }

  #shell{
    animation: up 800ms infinite alternate;
  }
  svg:hover #shell, svg:hover #lock{
    animation-play-state: running;
  }
  #lock{
    animation: shack 1100ms infinite alternate;
    transform-origin: 336px 171px;
  }
  @keyframes up{
    from{
      transform: translate3d(0,5px,0);
    }
    to{
      transform: translate3d(0,-5px,0);
    }
  }
  @keyframes shack{
    from{
      transform: translate3d(0,12px,0) rotate(-32deg);
    }
    to{
      transform: translate3d(0,-12px,0) rotate(2deg);
    }
  }