@media (min-width: 250px) and (max-width: 900px) {

    div.popup-container div.popup{
      position: absolute;
      left: 0;
      right: 0;
    }

    div.user{
      color: #fff;
      padding: 5px 15px;
      font-weight: 700;
      margin-left: 20px;
      display: contents;
    }
    
    div.user a{
      color: #ffffff;
    }

    .button--scroll {
      left: 45%;
      position: absolute;
      bottom: -1rem;
    }

    .back-to-top {
      position: fixed;
      right: 65%;
      background: #ff0000;
      transition: opacity 0.5s;
    }

    #wave img {
      width: 100%;
      margin-top: 350px;
    }

    #app {
      position: inherit;
      margin-top: -150px;
      margin-left: 150px;
      height: 200px;
    }

    .titulo h1 {
      font-size: 50px;
      font-weight: 600;
      font-family: 'Courier New', Courier, monospace;
      margin-top: -270px;
    }
    
    .subtitulo p {
      color: #ffffff;
      width: auto;
      font-size: 25px;
      font-weight: 100;
      font-family: sans-serif;
      margin-top: 200px;
    }

    .introducao {
      margin-top: -100px;
    }



  }