@media screen and (max-width: 720px) {
    .wave img {
        width: 100%;
        margin-top: 32rem;
      }

      .wave2 img {
        width: 100%;
      }

      svg {
        width: 50vw;
        margin-left: 200px;
        margin-top: -600px;
        display: flex;
      }

      .titulo h1 {
        margin-top: -40vh;
        font-weight: 700;
        font-size: 4vh;
        display: block;
      }

      .subtitulo p {
        color: rgb(172, 172, 172);
        font-size: 20px;
        margin-top: 65vw;
        font-weight: 100;
        padding: 80px;
        width: 40vh;
        display: flex;
      }

      .introducao {
        height: 1200px;
      }

      .cardbox {
        background-color: #0b052b;
        margin: 20px;
        padding: 50px;
        display: flex;
        border-radius: 20px;
      }

      .conteudos {
        width: 100%;
        height: 1100px;
        margin-top: -300px;
      }

      .conteudos img {
        height: 290px;
        margin-top: 150vw;
        margin-left: 20px;
        display: block;
      }

      .introducao2 h4 {
        font-size: 25px;
        font-weight: 500;
      }
      
      .introducao2 h1 {
        margin: 50px;
        margin-top: auto;
        font-size: 32px;
        width: 14em;
        font-family: 'Courier New', Courier, monospace;
        display: block;
      }

      .introducao2 p {
        color: #140030;
        width: 350px;
        margin: 50px;
        margin-top: 100px;
        font-family: sans-serif;
        font-size: 20px;
        padding: 5px;
        text-align: justify;
        font-weight: 600;
      }
}






















/*Responsividade do notebook do curso*/

/*layout responsivo definitivo*/
@media  (min-width: 1366px) and (max-width: 1366px) {
  .wave img {
    width: 100%;
    margin-top: -17px;
    display: block;
  }
  
  .wave2 img {
    width: 100%;
  }
  
  svg {
    width: 30vw;
    margin-top: -57vw;
    margin-left: 120vh;
    display: block;
  }
  
  .titulo h1 {
    margin-top: -300px;
    margin-left: 50px;
    display: block;
  }
  
  .subtitulo p {
    color: rgb(212, 212, 212);
    margin-top: 5vw;
    padding: 50px;
    display: flex;
  }
  
  .introducao {
    background-color: #090936;
    height: 1000px;
    margin-top: 120px;
  }
  
  .saiba-mais h1 {
    color: #fff;
    text-align: center;
    margin: 100px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  hr.hr-1 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 174, 255, 0.473), rgba(0, 255, 242, 0));
  }
   
  .conteudos {
    width: 100%;
    height: 1000px;
    margin-top: -135vh;
    display: flex;
  }
  
  .conteudos img {
    height: 380px;
    margin-top: 220px;
    margin-left: 700px;
  }
  
  
  .introducao2 h4 {
    color: #00a892;
    margin-top: 50px;
    padding: 60px;
  }
  
  .introducao2 h1 {
    color: #10043a;
    margin: 60px;
    margin-top: -25px;
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    display: block;
  }
  
  .introducao2 p {
    width: 500px;
    margin: 60px;
    margin-top: 200px;
  }
  
  .plataform {
    display: flex;
    margin-left: 45vh;
  }
  .plataform .box img {
    height: 100px;
    align-items: center;
    margin-left: 13vh;
    display: block;
    filter: drop-shadow(desplazamiento-x desplazamiento-y radio-desenfoque color);
    filter: drop-shadow(8px 8px 8px rgb(0, 0, 0));
  }
  
  .plataform .box h2 {
    margin-left: 12vh;
  }

  .container2 {
    height: 1200px;
    width: 100%;
    background-color: #090936;

  }

  .container2 img {
    height: 330px;
    margin-top: 200px;
    margin-left: 500px;
    filter: drop-shadow(desplazamiento-x desplazamiento-y radio-desenfoque color);
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0)) drop-shadow(8px 8px 8px rgb(0, 0, 0));
  }

  .container2 h2 {
    color: #fff;
    text-align: center;
    text-align: center;
    padding: 100px;
    font-family: 'Poppins';
    font-weight: 300;
  }

  .container2 h4 {
    color: rgb(168, 168, 168);
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    align-content: center;
    margin-inline: 20%;
    margin-top: 100px;
  }

  .pessoas {
    display: flex;
  }

  .pessoas img {
    height: 100px;
    margin: 20px;
    padding: 30px;
    margin-left: 120px;
  }

  .sobre-segurança {
    width: 100%;
    height: 950px;
    background-color: #160433;
    margin-top: -60vw;
  }

  #wave-meio {
    margin-top: -65vw;
  }

  .sobre-segurity h1 {
    position: absolute;
    top: 315vw;
    color: #fff;
    left: 50px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
  }


}
















@media (max-width: 999px) {
    div.user{
      color: #fff;
      padding: 5px 15px;
      font-weight: 700;
      margin-left: 20px;
      display: contents;
    }
    
    div.user a{
      color: #ffffff;
    }
    }